@font-face {
  font-family: 'regular';
  src: url('../fonts/Sansation_Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'bold';
  src: url('../fonts/Sansation_Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'italic';
  src: url('../fonts/Sansation_Italic.ttf') format('truetype')
}

@font-face {
  font-family: 'light';
  src: url('../fonts/Sansation_Light.ttf') format('truetype')
}

@font-face {
  font-family: 'decorate';
  src: url('../fonts/hang.ttf') format('truetype')
}